

.modal-header,
.modal-footer {
  display: flex;
  justify-content: flex-end; 
  flex-wrap: wrap;
  gap: 0.5rem;
}

.modal-footer {
  border-top: 1px solid #eee;
  border-bottom: none;
}

.modal-header .btn-close {
  margin-left: 0;
  margin-right: auto;
}

.modal-header .btn-close {
  background-color: #f1f1f1;
  border-radius: 50%;
  padding: 0.5rem;
  opacity: 1;
  transition: 0.2s;
}

.modal-header .btn-close:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
} 

input[type="date"] {
  direction: rtl;
  text-align: right;
  position: relative;
}


input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 10px;
  right: auto;
  cursor: pointer;
}

input.form-control,
textarea.form-control,
select.form-select {
  width: 100%;
  box-sizing: border-box;
}

.dialog-padding{
  padding: 1.5rem;
  max-width: 500px; 
  width: 90%;
  margin: auto;
  box-sizing: border-box;
  z-index: 99999;  
}

.form-select {
  direction: rtl;
  text-align: right;       
  text-align-last: right;  
  -webkit-appearance: none;
  -moz-appearance: none;   
  appearance: none;          
  background: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat left center;
  background-size: 1rem;
  padding-right: 0.5rem;
  padding-left: 2rem;   
}

@media (max-width: 400px) {
  .dialog-padding {
    padding: 1rem;
  }

  .modal-footer {
    justify-content: center;
  }

  .modal-footer button {
    width: 48%; 
  }
}