html, body { height: 100%; }
body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  direction: rtl;
  text-align: right;
  height: 70vh; 
  overflow-y: auto;
}

.cdk-overlay-pane[style*="position: static"] {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}